
/*Mobile*/
@media (min-width: 0px) {
    @media (max-width: 750px) {

    }
    }
/*Tablet*/
@media (min-width: 750px) {
    @media (max-width: 950px) {

    }
}
/*Laptop*/
@media (min-width: 950px) {
    @media (max-width: 1400px) {
        #Wrapper {
            float:right;
            width: 100%;
            height: auto;
        }
        #Header {
            float:right;
            width: 100%;
            height: 200px;
            background: red;
        }
        #Content {
            float:right;
            width: 100%;
            height: 800px;
            background: silver;
        }
        #Footer {
            float:right;
            width: 100%;
            height: 800px;
            background: green;
        }
    }
}
/*PC*/
@media (min-width: 1400px) {
    @media (max-width: 2600px) {
        #Wrapper {
            float:right;
            width: 100%;
            height: auto;
        }
        #Header {
            float:right;
            width: 100%;
            height: 200px;
            background: red;
        }
        #Content {
            float:right;
            width: 100%;
            height: 800px;
            background: silver;
        }
        #Footer {
            float:right;
            width: 100%;
            height: 800px;
            background: green;
        }
    }
}
